body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
  }
  
  #topnav {
    background-color: white;
    overflow: hidden;
    margin: -10px -10px;
}
  
  #topnav button {
    float: left;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
  }
  
  #topnav button:hover {
    background-color:white;
    color: black;
  }
  
  #topnav a.active {
    background-color: #6E6A6F;
    color: #FFFFFF;
  }
  