@media screen and (min-width: 480px){
body {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #7765e3;
  color: #ffffe8;
}

#topnav {
  background-color: #ffffe8;
  border-top: 2px solid #25283d;
  border-bottom: 2px solid #25283d;
  position: fixed;
  top: 0;
  width: 100%;
  margin-left: -10px;
}

#topnav button {
  float: right;
  background-color: #7765e3;
  color: #ffffe8;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  margin-right: 30px;
  border-radius: 10px;
  border: 2px solid #25283d;
  position: sticky;
}

#topnav button:hover {
  background-color: #ffffe8;
  color: #25283d;
}

#topnav:hover {
  background-color: #25283d;
  border-bottom: 2px solid #ffffe8;
}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

#dp {
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 50%;
  border: 3px solid #ffffe8;
}

h1 {
  text-align: center;
  font-size: 55px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 300px;
  margin-right: 300px;
  background-color: #25283d;
}

#dp:hover,
h1:hover,
h2:hover {
  box-shadow: 5px 5px;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
  margin-left: 200px;
  margin-right: 200px;
  color: #25283d;
  background-color: #ffffe8;
}

#content button {
  background-color: #25283d;
  color: #ffffe8;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffffe8;
}

#content button:hover {
  background-color: #ffffe8;
  color: #25283d;
}

#form {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 30px;
  background-color: #ffffe8;
}

.label {
  color: #25283d;
  margin-left: 10px;
  margin-top: 10px;
}

form,
article,
#BasicI,
#edu {
  margin: 30px;
  padding: 50px;
  background-color: #ffffe8;
  color: #25283d;
  font-size: 20px;
  box-shadow: 10px 10px;
}

button {
  background-color: #7765e3;
  color: #ffffe8;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #25283d;
}

button:hover {
  background-color: #25283d;
  color: #ffffe8;
}

#navBack {
  background-color: #25283d;
  color: #ffffe8;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #ffffe8;
}

#navBack:hover {
  background-color: #ffffe8;
  color: #25283d;
}

#About {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 50px;
}

table {

font-size: 20px;
  text-align: center;
  margin: 100px;
  word-wrap: break-word;
  margin-top: 80px;
  margin-bottom: -50px;
  box-shadow: 10px 10px #25283d;
}

#degreeN{
background-color: #25283D;
color: #FFFFE8;
padding: 30px 50px;
width: 60%;

}
#uniN{
background-color: #FFFFE8;
color: #25283D;
padding: 30px 50px;
}
}

@media screen and (max-width: 480px){
  body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7765e3;
    color: #ffffe8;
  }
  
  #topnav {
    background-color: #ffffe8;
    border-top: 2px solid #25283d;
    border-bottom: 2px solid #25283d;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -10px;
  }
  
  #topnav button {
    float: right;
    background-color: #7765e3;
    color: #ffffe8;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #25283d;
    position: sticky;
  }
  
  #topnav button:hover {
    background-color: #ffffe8;
    color: #25283d;
  }
  
  #topnav:hover {
    background-color: #25283d;
    border-bottom: 2px solid #ffffe8;
  }
  
  #content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }
  
  #dp {
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 50%;
    border: 3px solid #ffffe8;
  }
  
  h1 {
    text-align: center;
    font-size: 37px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 125px;
    margin-right: 125px;
    background-color: #25283d;
    padding: 5px 5px;
  }
  
  #dp:hover,
  h1:hover,
  h2:hover {
    box-shadow: 5px 5px;
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px 10px;
    color: #25283d;
    background-color: #ffffe8;
  }
  
  #content button {
    background-color: #25283d;
    color: #ffffe8;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ffffe8;
  }
  
  #content button:hover {
    background-color: #ffffe8;
    color: #25283d;
  }
  
  #form {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    background-color: #ffffe8;
  }
  
  .label {
    color: #25283d;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  form,
  article,
  #BasicI,
  #edu {
    margin: 30px;
    padding: 50px;
    background-color: #ffffe8;
    color: #25283d;
    font-size: 15px;
    box-shadow: 10px 10px;
  }
  
  button {
    background-color: #7765e3;
    color: #ffffe8;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #25283d;
  }
  
  button:hover {
    background-color: #25283d;
    color: #ffffe8;
  }
  
  #navBack {
    background-color: #25283d;
    color: #ffffe8;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ffffe8;
  }
  
  #navBack:hover {
    background-color: #ffffe8;
    color: #25283d;
  }
  
  #About {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 50px;
  }
  
  table {

    font-size: 15px;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 50px;
      word-wrap: break-word;
      box-shadow: 10px 10px #25283d;
    }
    
    #degreeN{
    background-color: #25283D;
    color: #FFFFE8;
    padding: 30px 50px;
    width: 60%;
    
    }
    #uniN{
    background-color: #FFFFE8;
    color: #25283D;
    padding: 10px 30px;
    }
  }
